[submodule "themes/apsho"]
	path = themes/apsho
	url = https://github.com/StaticMania/hugo-apsho
[submodule "hugo-apsho"]
	path = hugo-apsho
	url = https://github.com/StaticMania/hugo-apsho
[submodule "themes/hugo-apsho"]
	path = themes/hugo-apsho
	url = https://github.com/StaticMania/hugo-apsho
